In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결

## 환율 데이터 가져오기

In [2]:
UK_df = fdr.DataReader('USD/KRW', '2013') # 2013 에 원하는 년도 넣으면 됨
UK_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-01-01,1062.500000,1064.500000,1061.640015,1062.500000,1062.500000,0.0
2013-01-02,1062.599976,1064.800049,1061.500000,1062.500000,1062.500000,0.0
2013-01-03,1062.400024,1063.800049,1059.199951,1062.599976,1062.599976,0.0
2013-01-04,1062.000000,1064.199951,1060.750000,1061.900024,1061.900024,0.0
2013-01-07,1055.000000,1063.900024,1033.000000,1033.099976,1033.099976,0.0

In [3]:
UK_df['Close'].head()

Date
2013-01-01    1062.500000
2013-01-02    1062.500000
2013-01-03    1062.599976
2013-01-04    1061.900024
2013-01-07    1033.099976
Name: Close, dtype: float64

## 데이터 수 확인

In [4]:
len(UK_df['Close'])

2707

## 인덱스 타입 확인

In [5]:
type(UK_df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
UK_df['Close'].isna().any() # NaN 값이 1개 이상 존재하면 True 아니면 False

True

In [7]:
def get_Data_SaveCsv(df, date, filename): # date ex)'2023-01-01' filename ex) 'OIL'
    df = df.loc[date:]
    return df.to_csv('{}.csv'.format(filename), index=True)

# df 는 table, ex) OIL_df, KS200_df ..등등
# date 에는 언제부터 ~ 오늘까지 가져오는 날짜임(시작날짜)
# filename 은 내가 저장할 파일 이름 적어주면 됨

#### Test

In [8]:
get_Data_SaveCsv(UK_df, '2013-01-01', 'UK')