In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결

## 파일 읽어오는 함수

In [2]:
def Read_data(filename):
    return pd.read_csv("{}.csv".format(filename))

## Test

In [3]:
test_df = Read_data("UK")
test_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-01-01,1062.500000,1064.500000,1061.640015,1062.500000,1062.500000,0.0
1,2013-01-02,1062.599976,1064.800049,1061.500000,1062.500000,1062.500000,0.0
2,2013-01-03,1062.400024,1063.800049,1059.199951,1062.599976,1062.599976,0.0
3,2013-01-04,1062.000000,1064.199951,1060.750000,1061.900024,1061.900024,0.0
4,2013-01-07,1055.000000,1063.900024,1033.000000,1033.099976,1033.099976,0.0

## 파일 저장 후 그 파일의 인덱스 맞추는 함수

In [4]:
def array_index(df1, df2, df3, df4): # df1의 len 이 가장 크다고 가정하고 함수 만듬
 
    df2 = df2.reindex(df1.index).fillna(method='ffill')
    df3 = df3.reindex(df1.index).fillna(method='ffill')
    df4 = df4.reindex(df1.index).fillna(method='ffill')
    return df1, df2, df3, df4

## 종가(Close) 데이터 중 NaN 값을 그 다음 날짜 값으로 채워넣는 함수

In [5]:
def fill_Close_data(df1, df2, df3, df4):
    df1['Close'] = df1['Close'].fillna(method='bfill')
    df2['Close'] = df2['Close'].fillna(method='bfill')
    df3['Close'] = df3['Close'].fillna(method='bfill')
    df4['Close'] = df4['Close'].fillna(method='bfill')
    return df1, df2, df3, df4

## 상관관계 분석

In [6]:
import scipy.stats