In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결

In [2]:
df = fdr.DataReader('215600', '2023')
df.head(10)

            Open  High   Low  Close   Volume    Change
Date
2023-01-02  6960  7080  6630   6670   846949 -0.043042
2023-01-03  6810  6900  6640   6820   944526  0.022489
2023-01-04  6750  6840  6550   6800   578597 -0.002933
2023-01-05  6800  6800  6530   6570   981183 -0.033824
2023-01-06  6510  6780  6470   6700   819038  0.019787
2023-01-09  6730  6970  6730   6830   753002  0.019403
2023-01-10  6800  6920  6680   6790   875824 -0.005857
2023-01-11  6790  6930  6780   6880   658596  0.013255
2023-01-12  6940  6940  6760   6900   866400  0.002907
2023-01-13  6880  6970  6800   6820  1010206 -0.011594

In [6]:
df['Change'][-1]

0.0032679738562091387

In [7]:
df['Change'][-2]

0.0016366612111293755

In [8]:
df['Change'][-4]

-0.018181818181818188