In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결

In [2]:
OIL_df = pd.read_excel('oil_price_20230512113834-2.xlsx')
OIL_df.head()

       코드         날짜     종가
0  OIL_DU 2023-05-11  74.74
1  OIL_DU 2023-05-10  75.64
2  OIL_DU 2023-05-09  76.55
3  OIL_DU 2023-05-08  76.25
4  OIL_DU 2023-05-05  74.88

In [3]:
OIL_df = OIL_df[['날짜','코드','종가']]
OIL_df.rename(columns={'날짜': 'Date'}, inplace=True)
OIL_df.rename(columns={'종가': 'Close'}, inplace=True)
OIL_df.set_index('Date', inplace=True)
OIL_df.sort_index(ascending=True, inplace=True)
OIL_df.head()

                코드  Close
Date
2006-04-18  OIL_DU  65.95
2006-04-19  OIL_DU  65.10
2006-04-20  OIL_DU  64.40
2006-04-21  OIL_DU  63.70
2006-04-24  OIL_DU  64.01

In [7]:
selected_data = OIL_df.loc['2013-01-01':]
selected_data.head()

                코드   Close
Date
2013-01-02  OIL_DU  107.81
2013-01-03  OIL_DU  107.60
2013-01-04  OIL_DU  106.95
2013-01-07  OIL_DU  107.12
2013-01-08  OIL_DU  107.58