In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결
from datetime import date, timedelta

In [2]:
CD91_df = pd.read_csv("interest_rate.csv")
CD91_df.head()

   Unnamed: 0  CD91일  콜 금리  국고채 3년  회사채 3년
0  2003.08.25   3.86   NaN     NaN    5.83
1  2003.08.26   3.85   NaN     NaN    5.79
2  2003.08.27   3.85   NaN     NaN    5.75
3  2003.08.28   3.85  3.72     NaN    5.63
4  2003.08.29   3.85  3.72     NaN    5.60

In [3]:
CD91_df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True) # Unnamed: 0 Column 의 이름을 Date 로 변경
CD91_df.rename(columns={'CD91일': 'CD91'}, inplace=True)
CD91_df['Date'] = pd.to_datetime(CD91_df['Date'], format='%Y.%m.%d').dt.strftime('%Y-%m-%d') # 날짜 형식 2003.01.01 을 2003-01-01 로 형식 변경
CD91_df.set_index('Date', inplace=True) # 날짜를 index 값으로 지정

In [4]:
CD91_df.head()

            CD91  콜 금리  국고채 3년  회사채 3년
Date
2003-08-25  3.86   NaN     NaN    5.83
2003-08-26  3.85   NaN     NaN    5.79
2003-08-27  3.85   NaN     NaN    5.75
2003-08-28  3.85  3.72     NaN    5.63
2003-08-29  3.85  3.72     NaN    5.60

In [5]:
CD91_df['CD91'].isna().any() # NaN 값이 1개 이상 존재하면 True 아니면 False

True

## 컬럼 명 변겅

In [6]:
CD91_df.rename(columns={'CD91': 'Close'}, inplace=True)

In [7]:
CD91_df = CD91_df['Close']
CD91_df.head()

Date
2003-08-25    3.86
2003-08-26    3.85
2003-08-27    3.85
2003-08-28    3.85
2003-08-29    3.85
Name: Close, dtype: float64

In [8]:
type(CD91_df.index)

pandas.core.indexes.base.Index

## 인덱스 타입 변경

In [9]:
CD91_df.index = pd.DatetimeIndex(CD91_df.index)
type(CD91_df.index)

pandas.core.indexes.datetimes.DatetimeIndex

## 파일 저장 함수

In [10]:
def get_Data_SaveCsv(df, date, filename): # date ex)'2023-01-01' filename ex) 'OIL'
    df = df.loc[date:]
    return df.to_csv('{}.csv'.format(filename), index=True)

# df 는 table, ex) OIL_df, KS200_df ..등등
# date 에는 언제부터 ~ 오늘까지 가져오는 날짜임(시작날짜)
# filename 은 내가 저장할 파일 이름 적어주면 됨

### 오늘 날짜 기준 X일 이전 날짜 구해주는 코드

In [11]:
today = date.today()
previous_date = today - timedelta(days=70) # days = 뒤에 원하는 숫자 넣으면 됨
today_before = previous_date.strftime("%Y-%m-%d")
today_before

'2023-03-10'

#### Test

In [12]:
get_Data_SaveCsv(CD91_df, today_before, 'CD91')