In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결
from datetime import date, timedelta

## 환율 데이터 가져오기

In [2]:
UK_df = fdr.DataReader('USD/KRW', '2023') # 2023 에 원하는 년도 넣으면 됨
UK_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-02,1260.910034,1273.930054,1256.550049,1260.910034,1260.910034,0
2023-01-03,1270.099976,1278.969971,1264.390015,1270.099976,1270.099976,0
2023-01-04,1279.079956,1279.719971,1267.560059,1279.079956,1279.079956,0
2023-01-05,1271.079956,1278.229980,1265.739990,1271.079956,1271.079956,0
2023-01-06,1274.180054,1274.180054,1253.010010,1274.180054,1274.180054,0

In [3]:
UK_df['Close'].head()

Date
2023-01-02    1260.910034
2023-01-03    1270.099976
2023-01-04    1279.079956
2023-01-05    1271.079956
2023-01-06    1274.180054
Name: Close, dtype: float64

## 데이터 수 확인

In [4]:
len(UK_df['Close'])

101

## 인덱스 타입 확인

In [5]:
type(UK_df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
UK_df['Close'].isna().any() # NaN 값이 1개 이상 존재하면 True 아니면 False

False

## 데이터 저장 함수

In [7]:
def get_Data_SaveCsv(df, date, filename): # date ex)'2023-01-01' filename ex) 'OIL'
    df = df.loc[date:]
    return df.to_csv('{}.csv'.format(filename), index=True)

# df 는 table, ex) OIL_df, KS200_df ..등등
# date 에는 언제부터 ~ 오늘까지 가져오는 날짜임(시작날짜)
# filename 은 내가 저장할 파일 이름 적어주면 됨

### 오늘 날짜 기준 X일 이전 날짜 구해주는 코드

In [8]:
today = date.today()
previous_date = today - timedelta(days=70) # days = 뒤에 원하는 숫자 넣으면 됨
today_before = previous_date.strftime("%Y-%m-%d")
today_before

'2023-03-13'

#### Test

In [9]:
get_Data_SaveCsv(UK_df, today_before, 'UK')