In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결
from datetime import date, timedelta

In [2]:
def Read_data(filename):
    df = pd.read_excel("{}.xlsx".format(filename))
    return df

In [3]:
KOSPI_df = Read_data("(KOSPI)data_0017_20230519")
KOSPI_df.head()

,표준코드,단축코드,한글 종목명,한글 종목약명,영문 종목명,상장일,시장구분,증권구분,소속부,주식종류,액면가,상장주식수
0,KR7095570008,095570,AJ네트웍스보통주,AJ네트웍스,"AJ Networks Co.,Ltd.",2015/08/21,KOSPI,주권,NaN,보통주,1000,46822295
1,KR7006840003,006840,AK홀딩스보통주,AK홀딩스,"AK Holdings, Inc.",1999/08/11,KOSPI,주권,NaN,보통주,5000,13247561
2,KR7282330000,282330,BGF리테일보통주,BGF리테일,BGF Retail,2017/12/08,KOSPI,주권,NaN,보통주,1000,17283906
3,KR7027410000,027410,BGF보통주,BGF,BGF,2014/05/19,KOSPI,주권,NaN,보통주,1000,95716791
4,KR7138930003,138930,BNK금융지주보통주,BNK금융지주,BNK Financial Group Inc.,2011/03/30,KOSPI,주권,NaN,보통주,5000,325935246

## 한글 종목명 입력해서 단축코드 가져오는 함수

In [4]:
def KoName_return_Code(KoName):
    result = KOSPI_df[KOSPI_df['한글 종목약명'] == KoName]
    result = result['단축코드'].values
    result = result[0]
    return result

In [5]:
KoName_return_Code("삼성전자")

'005930'

## 주식 데이터 가공

In [6]:
SamSung_df = fdr.DataReader(KoName_return_Code("삼성전자"), '2023')

In [7]:
SamSung_df.head()

             Open   High    Low  Close    Volume    Change
Date
2023-01-02  55500  56100  55200  55500  10031448  0.003617
2023-01-03  55400  56000  54500  55400  13547030 -0.001802
2023-01-04  55700  58000  55600  57800  20188071  0.043321
2023-01-05  58200  58800  57600  58200  15682826  0.006920
2023-01-06  58300  59400  57900  59000  17334989  0.013746

## 인덱스 맞추기

In [ ]:
def array_index(*dfs):
    longest_df = max(dfs, key=lambda df: len(df)) # 넣은 데이터 중 가장 길이가 긴 데이터 찾기
    result_dfs = []
    
    for df in dfs:
        df = df.reindex(longest_df.index).fillna(method='ffill') # 가장 긴 데이터 기준 인덱스 채워넣기
        result_dfs.append(df)
        
    return result_dfs

In [ ]:
array_index(SamSung_df)

## NaN 값 없애기

In [ ]:
def fill_Close_data(*dfs):
    result = []
    for df in dfs:
        df['Close'] = df['Close'].fillna(method='bfill')
        df['Name'] = df['Name'].fillna(method='bfill')
        result.append(df)
    return result

In [ ]:
fill_Close_data(SamSung_df)

### 파일저장

In [8]:
def get_Data_SaveCsv(df, date, filename): # date ex)'2023-01-01' filename ex) 'OIL'
    df = df.loc[date:]
    return df.to_csv('{}.csv'.format(filename), index=True)

# df 는 table, ex) OIL_df, KS200_df ..등등
# date 에는 언제부터 ~ 오늘까지 가져오는 날짜임(시작날짜)
# filename 은 내가 저장할 파일 이름 적어주면 됨

### 날짜지정

In [9]:
today = date.today()
previous_date = today - timedelta(days=70) # days = 뒤에 원하는 숫자 넣으면 됨
today_before = previous_date.strftime("%Y-%m-%d")
today_before

'2023-03-13'

In [10]:
get_Data_SaveCsv(SamSung_df, today_before, 'SamSung')