In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import FinanceDataReader as fdr
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
# matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 12 # 글자 크기
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자가 깨지는 현상을 해결
from datetime import date, timedelta

## 파일 읽어오는 함수

In [2]:
def Read_data(filename):
    df = pd.read_csv("{}.csv".format(filename))
    df.set_index('Date', inplace=True)
    df.sort_index(ascending=True, inplace=True)
    df['Name'] = filename # 식별자 추가(나중에 분석 돌리기 위해서 추가함..)
    return df

## Test

In [3]:
UK_df = Read_data("UK")
KS200_df = Read_data("KS200")
OIL_df = Read_data("OIL")
CD91_df = Read_data("CD91")

In [4]:
CD91_df.head()

            Close  Name
Date
2023-03-13   3.61  CD91
2023-03-14   3.61  CD91
2023-03-15   3.61  CD91
2023-03-16   3.62  CD91
2023-03-17   3.62  CD91

## 파일 저장 후 그 파일의 인덱스 맞추는 함수

In [5]:
def array_index(*dfs):
    longest_df = max(dfs, key=lambda df: len(df)) # 넣은 데이터 중 가장 길이가 긴 데이터 찾기
    result_dfs = []
    
    for df in dfs:
        df = df.reindex(longest_df.index).fillna(method='ffill') # 가장 긴 데이터 기준 인덱스 채워넣기
        result_dfs.append(df)
        
    return result_dfs

#### Test

In [6]:
len(UK_df), len(KS200_df), len(OIL_df), len(CD91_df)

(50, 50, 50, 50)

In [7]:
UK_df, KS200_df, OIL_df, CD91_df = array_index(UK_df, KS200_df, OIL_df, CD91_df)

In [8]:
UK_df.head()

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2023-03-13,1319.540039,1317.579956,1297.469971,1319.540039,1319.540039,0,UK
2023-03-14,1296.380005,1314.469971,1295.250000,1296.380005,1296.380005,0,UK
2023-03-15,1304.579956,1322.020020,1295.510010,1304.579956,1304.579956,0,UK
2023-03-16,1311.739990,1315.979980,1303.000000,1311.739990,1311.739990,0,UK
2023-03-17,1301.619995,1309.010010,1298.349976,1301.619995,1301.619995,0,UK

In [9]:
len(UK_df), len(KS200_df), len(OIL_df), len(CD91_df)

(50, 50, 50, 50)

## 종가(Close),Name 데이터 중 NaN 값을 그 다음 날짜 값으로 채워넣는 함수

In [10]:
def fill_Close_data(*dfs):
    result = []
    for df in dfs:
        df['Close'] = df['Close'].fillna(method='bfill')
        df['Name'] = df['Name'].fillna(method='bfill')
        result.append(df)
    return result

#### Test

In [11]:
UK_df , KS200_df, OIL_df, CD91_df = fill_Close_data(UK_df, KS200_df, OIL_df, CD91_df)

In [12]:
UK_df.head()

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2023-03-13,1319.540039,1317.579956,1297.469971,1319.540039,1319.540039,0,UK
2023-03-14,1296.380005,1314.469971,1295.250000,1296.380005,1296.380005,0,UK
2023-03-15,1304.579956,1322.020020,1295.510010,1304.579956,1304.579956,0,UK
2023-03-16,1311.739990,1315.979980,1303.000000,1311.739990,1311.739990,0,UK
2023-03-17,1301.619995,1309.010010,1298.349976,1301.619995,1301.619995,0,UK

In [13]:
UK_df['Close'].isnull().any(), KS200_df['Close'].isnull().any(), OIL_df['Close'].isnull().any(), CD91_df['Close'].isnull().any()
# NaN 값이 하나라도 있는 경우 True, 아니면 False

(False, False, False, False)

In [14]:
UK_df['Name'].isnull().any(), KS200_df['Name'].isnull().any(), OIL_df['Name'].isnull().any(), CD91_df['Name'].isnull().any()

(False, False, False, False)

## 데이터 처리 된 파일 저장

In [15]:
def get_Data_SaveCsv(df, date, filename): # date ex)'2023-01-01' filename ex) 'OIL'
    df = df.loc[date:]
    return df.to_csv('{}.csv'.format(filename), index=True)

# df 는 table, ex) OIL_df, KS200_df ..등등
# date 에는 언제부터 ~ 오늘까지 가져오는 날짜임(시작날짜)
# filename 은 내가 저장할 파일 이름 적어주면 됨

In [16]:
Total_df = UK_df, KS200_df, OIL_df, CD91_df

In [17]:
today = date.today()
previous_date = today - timedelta(days=70) # days = 뒤에 원하는 숫자 넣으면 됨
today_before = previous_date.strftime("%Y-%m-%d")

In [18]:
for x in Total_df:
    get_Data_SaveCsv(x,today_before ,x['Name'].iloc[0])

## 상관관계 분석(인덱스, 데이터 다 맞아야함)

In [19]:
import scipy.stats # 상관관계 분석 import

In [20]:
scipy.stats.pearsonr(KS200_df['Close'], UK_df['Close'])

PearsonRResult(statistic=0.5481631474060957, pvalue=3.7754022375892525e-05)

In [21]:
def anal_scipy(*dfs):
    result = []
    for i in range(len(dfs)):
        for j in range(i+1, len(dfs)):
            x = dfs[i]
            y = dfs[j]
            result_key = str(x['Name'].iloc[0]) + ", " + str(y['Name'].iloc[0]) # UK,KS200 이런 형태로 만들어줌
            result_value = (result_key, scipy.stats.pearsonr(x['Close'], y['Close']))
            result.append(result_value)

    return result

In [22]:
anal_scipy(UK_df, KS200_df, OIL_df, CD91_df)

[('UK, KS200',
  PearsonRResult(statistic=0.5481631474060957, pvalue=3.7754022375892525e-05)),
 ('UK, OIL',
  PearsonRResult(statistic=-0.2453232245501142, pvalue=0.08594782895533956)),
 ('UK, CD91',
  PearsonRResult(statistic=-0.14615358753109486, pvalue=0.3111681025574625)),
 ('KS200, OIL',
  PearsonRResult(statistic=0.26708376750627993, pvalue=0.06078994625390792)),
 ('KS200, CD91',
  PearsonRResult(statistic=-0.6443438584490275, pvalue=4.43596744677677e-07)),
 ('OIL, CD91',
  PearsonRResult(statistic=-0.6226060902097283, pvalue=1.3810977466046154e-06))]

## Test

In [23]:
anal_scipy(UK_df, KS200_df, OIL_df, CD91_df)[0][1][0]

0.5481631474060957

In [24]:
anal_scipy(UK_df, KS200_df, OIL_df, CD91_df)[0][0]

'UK, KS200'

In [25]:
len(anal_scipy(UK_df, KS200_df, OIL_df, CD91_df))

6

In [26]:
Graph_data = []
for x in range(len(anal_scipy(UK_df, KS200_df, OIL_df, CD91_df))):
    Graph_data.append(anal_scipy(UK_df, KS200_df, OIL_df, CD91_df)[x][1][0])

In [27]:
Graph_data

[0.5481631474060957,
 -0.2453232245501142,
 -0.14615358753109486,
 0.26708376750627993,
 -0.6443438584490275,
 -0.6226060902097283]

In [28]:
Graph_index = []
for x in range(len(anal_scipy(UK_df, KS200_df, OIL_df, CD91_df))):
    Graph_index.append(anal_scipy(UK_df, KS200_df, OIL_df, CD91_df)[x][0])

In [29]:
Graph_index

['UK, KS200', 'UK, OIL', 'UK, CD91', 'KS200, OIL', 'KS200, CD91', 'OIL, CD91']

In [30]:
abs_Graph_data = []
for x in Graph_data:
    abs_Graph_data.append(abs(x))

In [31]:
abs_Graph_data

[0.5481631474060957,
 0.2453232245501142,
 0.14615358753109486,
 0.26708376750627993,
 0.6443438584490275,
 0.6226060902097283]

In [32]:
def anal_scipy_data(*dfs):
    Anal_data = anal_scipy(*dfs)
    Graph_data = []
    Graph_index = []
    for x in range(len(Anal_data)):
        Graph_data.append(abs(Anal_data[x][1][0]))
        Graph_index.append(Anal_data[x][0])
    
    df = pd.DataFrame({'Value': Graph_data}, index=Graph_index)
        
    return df

In [33]:
anal_scipy_data(UK_df, KS200_df, OIL_df, CD91_df)

                Value
UK, KS200    0.548163
UK, OIL      0.245323
UK, CD91     0.146154
KS200, OIL   0.267084
KS200, CD91  0.644344
OIL, CD91    0.622606